 /* General Page Styles */
:root {
  --home-bg: linear-gradient(45deg, #000000, #251b1b);
}

:root[data-theme="light"] {
  --home-bg: #f5f5f5;
}

.home-page {
    padding: 0px;
    background: var(--home-bg);
}

button {
    /* all: unset; */
    -webkit-tap-highlight-color: transparent;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    padding-top: 0px;
    padding-bottom: 0%;
    font-family: 'Arial', sans-serif;
}

@media screen and (max-width: 480px) {
    .home-content {
        padding: 0px;
    }
}
@media screen and (max-width: 768px) {
    .home-content {
        padding: 0px;
    }
}
@media screen and (max-width: 1024px) {
    .home-content {
        padding: 0px;
    }
}